<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
 
    <title>عروض الاجار</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/3orood-ajar.css">
</head>
<body>
    <div class="search-container">
      <select id="citySelect" onchange="filterTable()">
        <option value="">اختر المنطقة...</option>
        <option value="البقاع">البقاع</option>
        <option value="بيروت">بيروت</option>
        <option value="صور">صور</option>
        <option value="جبل لبنان">جبل لبنان</option>
        <!-- Add more cities as needed -->
    </select>
    <select id="priceSelect" onchange="filterTable()">
        <option value="">اختر السعر...</option>
        <option value="100-200">100-200</option>
        <option value="200-300">200-300</option>
        <option value="300-400">300-400</option>
        <option value="400-450">400-450</option>
        <!-- Add more price ranges as needed -->
    </select>
</div>
    <div class="table-responsive">

        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">الاسم</th>
              <th scope="col">البريد</th>
              <th scope="col">مكان الشقة</th>
              <th scope="col">الهاتف</th>
              <th scope="col">السعر</th>
            </tr>
          </thead>
      
          <tbody id="tableBody">
            <% customers3.forEach(element => { %>
              <tr class="align-middle">
                <td><%= element.name2 %></td>
                <td><%= element.email2 %></td>
                <td><%= element.city2 %></td>
                <td><%= element.phone2 %></td>
                <td><%= element.price2%></td>
      
      
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    <a href="/me7"><button class="kabse">العودة الى الصفحة الرئسية</button></a>
</body>
<script>
  function filterTable() {
    var selectedCity = document.getElementById("citySelect").value;
    var selectedPrice = document.getElementById("priceSelect").value;
    var rows = document.getElementById("tableBody").getElementsByTagName("tr");

    for (var i = 0; i < rows.length; i++) {
        var city = rows[i].getElementsByTagName("td")[2].innerText;
        var price = parseInt(rows[i].getElementsByTagName("td")[4].innerText);

        var cityMatch = selectedCity === "" || city === selectedCity;
        var priceMatch = selectedPrice === "" || price <= parseInt(selectedPrice);

        if (cityMatch && priceMatch) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }
    }
}
</script>
</html>